@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: #1f2937;
    align-items: center;
    color: white;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.logo
{
    margin: 0;
    font-size: 24px;
    color: #f9faf8;
}

.hero
{
    background-color: #1f2937;
    margin: 0;
    padding: 120px;
    display: flex;
    justify-content: space-around;
    gap: 120px;
}

.text
{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 50%;
}

#hero-text
{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.subtext
{
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.img
{
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.2;
}

button
{
    padding: 12px 48px;
    max-width: max-content;
    border-radius: 6px;
    background-color: #3882F6;
    border: none;
    color: #e5e7eb;
    font-weight: 500;
    cursor: pointer;
}

.info
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 120px;
    gap: 30px
}

.info-title
{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.cards
{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 200px;
}

.card-img
{
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.quote
{
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote-text
{
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
}

.writer
{
    align-self: flex-end;
    margin: 16px;
    font-weight: 600;
}

.cta
{
    margin: 60px 120px;
    background-color: #3882F6;
    display: flex;
    padding: 36px 96px;
    border-radius: 12px;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
}

.cta-text
{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.heading
{
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
}

.cta-subtext
{
    color: #e5e7eb;
    font-size: 12px;
    margin: 0;
}

.cta-button
{
    border: 2px solid #e5e7eb;
    box-sizing: border-box;
}